body{
margin:0;
font-family: 'Segoe UI', sans-serif;
background:#0f172a;
color:white;
}

.sidebar{
width:320px;
background:#111827;
padding:25px;
box-shadow:3px 0px 10px rgba(0,0,0,0.5);
}

input{
width:100%;
padding:12px;
margin-top:8px;
border-radius:8px;
border:none;
background:#1f2937;
color:white;
}

button{
width:100%;
padding:14px;
margin-top:15px;
background:linear-gradient(90deg,#3b82f6,#6366f1);
border:none;
border-radius:8px;
color:white;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.03);
}

.routeCard{
background:#1f2937;
padding:15px;
margin-top:15px;
border-radius:10px;
transition:0.3s;
}

.routeCard:hover{
background:#374151;
}